<!DOCTYPE html>
<html>
    <head>
        <title>Image Gallery</title>
        <link rel="stylesheet" type="text/css" href="/style.css" /> 
    </head>
    <body>
        <h1>Gallery Time!!</h1>
        <%= yield %>
    </body>
</html>

